#listContainer {
    list-style-type: none;
  }
  
  .listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #000;
    margin-bottom: 10px;
  }
  
  button {
    background-color: lightblue;
    width: 25%;
    display: block;
  }

  
 